<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Order Confirmation</title>
</head>
<body style=" color: black; padding: 20px;">
  <header style="text-align: center; background-color: white;">
    <img src="https://emaxapi.onrender.com/uploads/logo2-white.jpg" alt="EMAX" width="200" height="100" /> 
    <h1 style="color: black;">Order Confirmation</h1>
  </header>
  <main style="color: black; background-color: #f7f7f1;">
    <p style="color: black;">Dear {{ name }},</p>
    <p style="color: black;">Thank you for placing an order with EMAX. Your order details are as follows:</p>

    <table style="color: black;">
      <thead>
        <tr style="color: black;">
          <th>Image</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody style="text-align: center;">
        {{#each orderItems}}
          <tr style="color: black;">
            <td><img src="https://emaxapi.onrender.com/{{product.productImage}}" alt="{{ product.title }}" width="100" height="100" /></td>
            <td>{{ product.title }}</td>
            <td>{{ quantity }}</td>
            <td>₦{{ product.price }}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    {{!-- <p>Total Price: ${{ totalOrderPrice }}</p> --}}
    
    <p style="margin-bottom: 10px;">Shipping Address: {{ fullname }}, {{ adress }}, {{ city }}</p>
    
    <p>Thank you for shopping with us. If you have any questions, please contact us at support@emax.com.</p>
  </main>
  <footer>
    <p style="text-align: center;">&copy; 2023 EMAX. All rights reserved.</p>
  </footer>
</body>
</html>
